* {
    font-family: 'Roboto Regular', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
}

body {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.fade {
    animation-name: fade;
    animation-duration: 1.2s;
}

.fix-block {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    width: 138px;
    height: 135px;
    border: 4px solid #00BB6D;
    border-radius: 100%;
    padding: 5px;
}
.link-fix {
    position: relative;
    width: 120px;
    height: 118px;
    border-radius: 100%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &__video {
        width: 240px;
        position: absolute;
        top: -300px;
        left: 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }
}



@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


@keyframes toRight {
    0% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}